<div class="row mt-3 no-gutters h-100">
    
    <div class="col-2 offset-1 h-100">
        <button class="py-2 h-100 w-100"> 
            <i class="fas fa-home"></i>
            <div> Home</div>
        </button>
    </div>
    <div class="col-2 h-100">
        <button class="py-2 h-100 w-100"> 
            <i class="fas fa-envelope"></i>
            <div> Messages</div>
        </button>
    </div>
    <div class="col-2 h-100">
        <button class="py-2 h-100 w-100"> 
            <i class="fas fa-star"></i>
            <div> Wishlist</div>
        </button>
    </div>
    <div class="col-2 h-100">
        <button class="py-2 h-100 w-100"> 
            <i class="fas fa-cog"></i>
            <div> Settings</div>
        </button>
    </div>
    <div class="col-2 h-100">
        <button class="py-2 h-100 w-100"> 
            <i class="fas fa-user"></i>
            <div> My Account</div>
        </button>
    </div>
</div>