<div class="row no-gutters my-5">
    <div class="col-1 d-flex justify-content-center align-items-center">
        <lt-icon-button></lt-icon-button>
    </div>
    <div class="col-11 bg-white rounded py-2">
        <div id="content-data" class="row no-gutters">
            <div class="col-2 d-flex justify-content-center flex-column align-items-center border-right">
                <div class="row">
                    <div class="col-12">
                        <span>{{item.date}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span>{{item.time}}</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-center w-100">
                    <span>{{item.from}}</span>
                </div>
                <div class="d-flex justify-content-center w-100">
                    <i id="arrow-down" class="fas fa-angle-down"></i>
                </div>
                <div class="d-flex justify-content-center w-100">
                    <span>{{item.to}}</span>
                </div>
            </div>
            <div class="col-5 d-flex justify-content-around align-items-center border-left">
                <i class="fas fa-truck fa-flip-horizontal"></i>
                <span>{{item.price | money}}</span>
                <div class="square rounded-25 d-flex justify-content-center align-items-center">
                    {{item.notifies}}
                </div>
            </div>
            <div class="col-1 d-flex align-items-center">
                <button class="btn"><i class="fas fa-ellipsis-v"></i></button>
            </div>
        </div>
    </div>
</div>