i.fa-truck {
    font-size: -webkit-xxx-large;
    color: #858585;
}

#arrow-down {
    color: #e5aa68;
}

.bg-white {
    background-color: white;
}

.rounded {
    border-radius: 1.25rem !important
}

#content-data{
    &::first-child {
        background: red;
    }
    &::last-child {
        background: blue;
    }
}

.square{
    height: 2.5rem;
    width: 2.5rem;
    background: #ea5255;
    color: white;
}
.rounded-25{
    border-radius: 0.25rem;
}