

// #divider {
//     width: 1px;
//     position: float;
//     right: 0;
//     background: red;
// }

#divider {
    border:         none;
    border-right:    1px solid #d2d2d2;
    height:         65%;
    bottom: 3rem;
    position: absolute;
    right: 0;
}

i {
    color: #686868;
    font-size: 2.5rem;
}

#sale {
    transform: rotate(340deg);
    max-height: 3rem;
}

.far.fa-lightbulb{
    font-size: 1.5rem
}

#logo{
    max-height: 30vh;
    width: auto;
}