<div id="divider"></div>
<div class="d-flex justify-content-center my-5">
    <img id="logo" src="assets/icon.png" alt="">
</div>
<div class="d-flex justify-content-center">
    <i class="far fa-lightbulb mx-2"></i>
    Smart Filter
</div>

<hr class="mx-3">
<div class="px-1">
    <div class="d-flex justify-content-between p-3">
        <img id="sale" src="assets/sale.svg">
        <lt-toggle></lt-toggle>
    </div>

    <div class="d-flex justify-content-between p-3">
        <i class="far fa-calendar-alt"></i>
        <lt-toggle></lt-toggle>
    </div>

    <div class="d-flex justify-content-between p-3">
        <i class="far fa-heart"></i>
        <lt-toggle></lt-toggle>
    </div>
</div>

<hr class="mx-3">

<div class="d-flex justify-content-center">
    Status
</div>

<div class="mx-4">
    <lt-filter></lt-filter>
    <button class="btn bg-white w-100 mt-2">DELIVERED</button>
</div>