
@mixin icon-input {
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
font-size: 1rem;
text-align: center;
color: #b5b5b5;
}
  
.search-input::-webkit-input-placeholder {
@include icon-input();
}

.search-input::-moz-placeholder  { 
@include icon-input();
}

.search-input:-ms-input-placeholder  { 
@include icon-input();
}