<div class="container-fluid">
  <div class="row min-vh-100">
    <div class="col-2">
      <lt-side></lt-side>
    </div>
    <div class="col-10">
      <section class="main-tabs">
        <lt-nav></lt-nav>
      </section>
      <section class="main-content">
          <list></list>
      </section>
    </div>
  </div>
</div>