<div class="col-10 offset-1 mt-5">
    <div class="row no-gutters">
        <div class="col-1 d-flex justify-content-center align-items-center">
            <lt-icon-button></lt-icon-button>
        </div>
        <div class="col-3 offset-8 no-gutters">
            <lt-filter>
            </lt-filter>
        </div>
    </div>

    <ng-container *ngFor="let item of items" class="">
        <item [item]="item">
        </item>
    </ng-container>
</div>

<div class="position-fixed btn-fav">
    <lt-icon-button [icon]="'plus'" [size]="'2'"></lt-icon-button>
</div>